<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="assets/favicon_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title><%= lingua.title %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../public/stylesheets/index.css" rel="stylesheet">
    <link href="../public/stylesheets/nosotros.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
  </head>
  <body>      
    <%- include('header_white'); -%>
    <main>
   
      <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="/public/images/Al_10_pinos.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="/public/images/PVC_Valle_2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="/public/images/PVC_Valle.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="/public/images/delta-133A.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>      

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing mt-5">

        <div class="row d-flex justify-content-between data-block mt-5 mb-5">
          <div class="col-lg-5 d-flex justify-content-center align-items-center text-center">
            <h2 class="text-break" style="width: 8rem;"><%= lingua.somos_title %></h2>
          </div>
          <div class="col-lg-7 d-flex justify-content-center align-items-center">
            <p><%= lingua.somos %></p>
          </div>
        </div>

        <hr class="featurette-divider">

        
        <div class="row d-flex justify-content-between data-block mt-5 mb-5">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <h2><%= lingua.mision_title %></h2>
          </div>
          <div class="col-lg-7 d-flex justify-content-center align-items-center">
            <p><%= lingua.mision %></p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row d-flex justify-content-between data-block mt-5 mb-5">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <h2><%= lingua.vision_title %></h2>
          </div>
          <div class="col-lg-7 d-flex justify-content-center align-items-center">
            <p><%= lingua.vision %></p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row d-flex justify-content-between data-block mt-5 mb-5">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <h2><%= lingua.valores_title %></h2>
          </div>
          <div class="col-lg-7 d-flex justify-content-center align-items-center flex-wrap svg-list">
            <div class="tarjeta" id="i-calidad">
              <img class="icon-tarjeta" src="assets/zu_pdca.png" alt="Calidad Icon">
              <h4 class="text-align-center"><%= lingua.valores.compromiso_title %></h4>
            </div>
            <div class="tarjeta" id="i-trabajo">
              <img class="icon-tarjeta" src="assets/groups_black_24dp.svg" alt="Trabajo Icon">
              <h4 class="text-align-center"><%= lingua.valores.integridad_title %></h4>
            </div>
            <div class="tarjeta" id="i-profesional">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
              </svg>
              <h4 class="text-align-center"><%= lingua.valores.profesional_title %></h4>
            </div>
            <div class="tarjeta" id="i-cliente">
              <img class="icon-tarjeta" src="assets/handshake-solid-min.svg" alt="Social Icon"/>
              <h4 class="text-align-center"><%= lingua.valores.orientacion_title %></h4>
            </div>
            <div class="tarjeta" id="i-responsabilidad">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
              </svg>
              <h4 class="text-align-center"><%= lingua.valores.social_title %></h4>
            </div>
            <div class="tarjeta" id="i-planificacion">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
              </svg>
              <h4 class="text-align-center"><%= lingua.valores.plan_title %></h4>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row d-flex justify-content-between data-block mt-5 mb-5">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <h2><%= lingua.indicador_title %></h2>
          </div>
          <div class="col-lg-7 d-flex justify-content-between align-items-center flex-wrap">
            <div class="data-container mt-4 mb-4">
              <h3 class="data-number text-green display-5">+500</h3>
              <h5 class="text-center"><%= lingua.indicador_obra_title %></h5>
            </div><div class="data-container mt-4 mb-4">
              <h3 class="data-number text-green display-5">+80000 kg</h3>
              <h5 class="text-center"><%= lingua.indicador_alu_title %></h5>
            </div>
            <div class="data-container mt-4 mb-4">
              <h3 class="data-number text-green display-5">+335000 kg</h3>
              <h5 class="text-center"><%= lingua.indicador_pvc_title %></h5>
            </div>
            <div class="data-container mt-4 mb-4">
              <h3 class="data-number text-green display-5">+3800m<sup>2</sup></h3>
              <h5 class="text-center"><%= lingua.indicador_predio_title %></h5>
            </div>
            <div class="data-container mt-4 mb-4">
              <h3 class="data-number text-green display-5">+1500m<sup>2</sup></h3>
              <h5 class="text-center"><%= lingua.indicador_taller_title %></h5>
            </div>
            <div class="data-container mt-4 mb-4">
              <h3 class="data-number text-green display-5">+25 años</h3>
              <h5 class="text-center"><%= lingua.indicador_trayectoria_title %></h5>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <h2 class="mt-5 text-primary" id="colaboradores_title"><%= lingua.nosotros_sector_comercial %></h2>
        <div class="row d-flex justify-content-between data-block mt-2 mb-4">
          <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-shadow position-absolute w-100 h-100"></div>
              <div class="carousel-item carousel-item-obra active" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/VENTAS.jpg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_ventas %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/ADMINISTRACION.jpg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_administracion %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/OT.jpg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_ot %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/DIV_ALU.jpg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_alu %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/DIV_PVC.jpeg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_pvc %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/Vidrio.jpg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_vidrio %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/LOGISTICA.jpeg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_logistica %>
                  </p>
                </div>
              </div>
              <div class="carousel-item carousel-item-obra" data-bs-interval="4000">
                <img src="https://ebaproyect.s3.sa-east-1.amazonaws.com/COLOCACION.jpeg" class="d-block w-100" alt="..." crossorigin="anonymous">
                <div class="carousel-caption d-none d-md-block r-text-5">
                  <p>
                    <%= lingua.nosotros_sector_colocacion %>
                  </p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="i-top-container">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-square-fill i-top color-principal" viewBox="0 0 16 16" id="btn-to-top">
            <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
          </svg>
        </div>
      </div><!-- /.container -->

      <!-- INFORMACION CONTACTO -->
      <%- include('box-contactos'); %>
      <!-- FOOTER -->
      <%- include('footer'); -%>
      <div class="i-whatsapp-container">
        <div class="i-whatsapp">
          <a href="https://wa.me/5492494499028"><img src="../public/assets/whatsapp-logo.svg" alt="Whatsapp Logo"></a>
        </div>
      </div>
    </main>

    <!-- Modal Para Valores-->
    <div class="modal fade" id="modal_nosotros" tabindex="-1" aria-labelledby="modal_nosotrosLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered md-effect">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container p-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="tarjeta-modal">
                  <div id="modal_valores_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                      <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                      <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                  </div>
                  <h4 class="text-align-center" id="modal_valores_title"></h4>
                </div>
              </div>
              <div class="col-lg-8" id="modal_valores_info">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- . -->
    <script src="../public/javascripts/index.js" crossorigin="anonymous"></script>
    <script src="../public/javascripts/nosotros.js" crossorigin="anonymous"></script>
    <script language="javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
