<% data.forEach(function(cate){ %>
  <h4 class="mb-4 mt-5">
    <%= cate._id %>
  </h4>
  <% cate.items.forEach(function(item){ %>
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="product-container d-flex">
        <div class="col-lg-4">
          <img src="/public/assets/<%= item.portada %>" class="img-fluid h-100" alt="">
        </div>
        <div class="col-lg-8">
          <div class="product-data-container p-4">
            <% if (lang == "Ingles") { %>
              <h4><%= item.descripcion_corta %></h4>
              <p><%= item.descripcion %></p>
              <ul class="product-list">
                <li><%= item.propiedades[0] %></li>
                <li><%= item.propiedades[1] %></li>
                <li><%= item.propiedades[2] %></li>
              </ul>
            <% } %>
            <% if (lang != "Ingles") { %>
              <h4><%= item.translation.en.descripcion_corta %></h4>
              <p><%= item.translation.en.descripcion %></p>
              <ul class="product-list">
                <li><%= item.translation.en.propiedades[0] %></li>
                <li><%= item.translation.en.propiedades[1] %></li>
                <li><%= item.translation.en.propiedades[2] %></li>
              </ul>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
<% }); %>